.cards {
  display: flex;
  margin-top: 30px;
  margin-right: 20px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  justify-content: center;
  border-radius: 15px;
  box-shadow: 20px 14px 10px rgba(99, 111, 216, 0.575);
}

.imgCont {
  width: 300px;
  height: 300px;
  border-radius: 35px;
}
.imgCont:hover {
  transform: scale(1.1) rotate(1deg);
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.descripcion {
  display: flex;
  justify-items: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  color: rgb(245, 244, 244);
  font-family: Verdana, Tahoma, sans-serif;
}

.verDetalles {
  color: #59f300;
  text-decoration: inherit;
}
.verDetalles:hover {
  color: aqua;
  transition: color 0.3s ease;
}
